@import "../../fonts&colors";

.weather_container {
  font-family: $MainFont;
  font-weight: $SemiBold;

}

.current_conditions {
  font-style: italic;
h1 {
  padding: 20px;

}
  background-image: url("../../../assets/images/time_of_day_gradients/morning.jpg");
}

.storm_tracker {
  background-color: white;
  font-style: italic;

  .rain_percentage, .storm_miles {
    text-align: center;
    font-style: italic;
  }
.rain_percentage {
font-weight: $ExtraBoldnBlack;
  font-size: 6vw;
  margin: 0;

}

  .storm_miles {
font-weight: $SemiBold;
font-style: italic;
font-size: 4vw;
color: $WaterText;

  }
  h1 {
    padding: 20px;
  }
}