@import "../fonts&colors";
.root {
  height: 100%;
}



.grid_container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  align-items: stretch;
  background-color: $BackgroundColor;
  height: 100vh;
  grid-gap: 20px;
}

.monitor_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-gap: 50px 30px;
  padding: 50px;


}

@media screen and (max-width: 1293px) {
  .monitor_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 50px 50px;


  }

}




@media screen and (max-width: 1000px) {

  .grid_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: stretch;
    background-color: $BackgroundColor;
    height: 100%;
  }

  .monitor_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;

  }


h1{ font-size: 5vh;}
}
