@import "../fonts&colors";

#root {

  display: grid;
  height: 100vh;
}



.grid_container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  align-items: stretch;
  background-color: $BackgroundColor;
  height: 100%;
}

.monitor_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-gap: 50px 30px;
  padding: 30px;


}

@media screen and (max-width: 1293px) {
  .monitor_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-gap: 50px 50px;


  }

}




@media screen and (max-width: 1024px) {

  .grid_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    align-items: stretch;
    background-color: $BackgroundColor;
  }

  .monitor_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    padding: 15px;

  }


h1{ font-size: 6vw;}
}
