@import "../../fonts&colors";

.sidebar {

  font-family: $MainFont;
  font-weight: $Regular;
  background-color: $MainColor;
  width: 200px;
  height: 100%;


    h1 {
      font-size: 2em;
      color: $DefaultTextColor;

    }
  a{
    text-decoration: none;
  }
}





.navbar_item:hover {

  background-color: $BackgroundColor;
}

.divider {
  width: 80%;
  border: 0;
  height: 0;
  border-top: 1px solid black;
  padding-bottom: 40px;

}

.logo {

padding: 50px;
}


ul {
list-style-type: none;
  display: block;
  padding: 10px;
  background-color: white;
  li {
    display: inline;
    padding: 15px;
    width: 100%;
    color: $MainColor;
  }
}


.navlink {
  width: 2em;
  height: 2em;
  display: inline;
}



@media screen and (max-width: 1000px) {
  .sidebar {
display: inline;
    width: 100%;
    height: 100%;
    text-decoration: none;
    h1 {
      font-size: 1.5em;
      color: $DefaultTextColor;
    }
.navbar_item {
  display: none;

}
    div.content {margin-left: 0;}
  }

  ul {
    list-style-type: none;
    float: right;
    padding: 10px;
    background-color: $MainColor;
    li {
      display: inline;
      padding: 15px;
      width: 100%;
      color: $MainColor;
    }
  }

  .logo {
    float: left;
    width: 3em;
    height: 3em;
    padding: 10px;
    padding-bottom: 25px;
  }


}

