@import "../fonts&colors";

.sidebar {
  font-family: $MainFont;
  font-weight: $Regular;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 220px;
  background-color: $MainColor;
  position: fixed;
  height: 100%;
  overflow: auto;

    h1 {
      font-size: 2em;
      color: $DefaultTextColor;

    }
  a{
    text-decoration: none;
  }
}

.navbaritem {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: row;
    text-decoration: none;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}