@import url("https://use.typekit.net/cjl4bia.css");

$MainFont: proxima-nova;
$MainColor: #50AD80;
$BackgroundColor: #D6D6D6;
$WaterText: #3FA9F5;
$DefaultTextColor: #000000;

$Regular: 400;
$SemiBold: 600;
$ExtraBoldnBlack: 900;

